@model XperiCode.PluploadMvc.Sample.Models.SampleForm1Model

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>PluploadMvc Sample</h3>

    <div>@Html.ActionLink("Sample form 1", "SampleForm1", "Home")</div>
    <div>@Html.ActionLink("Sample form 2", "SampleForm2", "Home")</div>

</div>
